[Unit]
Description=FastAPI CodeRunner NoSQL backend
After=network.target redis-server.service mongod.service

[Service]
User=root
WorkingDirectory=/app
ExecStart=/usr/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 80
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
